<ion-view view-title="Transactions">
  <ion-content>
    <ion-list>
      
        
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" >
            <a class="item item-thumbnail-left" href="#/tab/chats/{{chat.id}}">
                <img ng-src="{{chat._attributes.creditCard.imageUrl}}">
                <h2>{{chat._attributes.customer.firstName}} {{chat._attributes.customer.lastName}}</h2>
                <p>{{chat._attributes.createdAt.date}} {{chat._attributes.createdAt.timezone}}</p>
                <p>${{chat._attributes.amount}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                  Delete
                </ion-option-button>
            </a>
        </ion-item>    
        
    </ion-list>
  </ion-content>
</ion-view>

Card Type
Time Date and Amount